---
import Hero from '../components/Hero.astro';
import Layout from '../layouts/Layout.astro';

---

<Layout>
	<div class="min-h-screen">
		<Hero/>
      <!-- <Navbar />
      <Hero />
      <Stats />
      <Projects />
      <Services />
      <Team />
      <Testimonials />
      <Footer /> -->
    </div>v
</Layout>
