---
interface Props {
  label: string;
  value: string;
}

const { label, value } = Astro.props;
---

<div class="flex flex-col items-start">
    <span class="text-sm text-gray-600 mb-2">{label}</span>
    <span class="text-5xl md:text-6xl font-bold tracking-tight">{value}</span>
  </div>