@import "tailwindcss";

@plugin "@tailwindcss/typography";

@theme {
  --font-sans: var(--font-inter), "sans-serif";
  --color-brand-dark: #062c26;
  --color-brand-green: #0a3d33;
  --color-brand-cream: #f0f0ed;
  --color-brand-yellow: #dbe82c;
  --color-brand-lime: #ccff00;
}

body {
  scroll-behavior: smooth;
}

.btn-primary {
  @apply bg-[#c3fd5d] text-[#1A1F2C] font-medium py-2 px-4 rounded-full hover:opacity-90 transition-opacity;
}

.animate-float {
  animation: float 3s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-4px);
  }
  100% {
    transform: translateY(0);
  }
}
