---
import About from "../../components/About.astro";
import FAQ from "../../components/FAQ";
import Footer from "../../components/Footer.astro";
import Hero1 from "../../components/Hero1.astro";
import Navbar from "../../components/Navbar";
import Portfolio from "../../components/Portfolio";
import Services from "../../components/Services.astro";
import Testimonials from "../../components/Testimonials.astro";
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Test Page" description="This is a test page.">
 <div class="min-h-screen bg-brand-dark text-brand-cream font-sans selection:bg-brand-yellow selection:text-brand-dark scroll-smooth">
      <Navbar />
      <main>
        <Hero1 />
        <About />
        <Services />
        <Portfolio />
        <Testimonials />
        <FAQ client:load/>
      </main>
      <Footer />
    </div>

  </Layout>